.paginado{
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

ul{
    list-style: none;
    display: flex;
}

.number{
    margin: 20px;
}
